
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body{
	/* overflow: hidden; */
}

div.text-div{
	width: 85%;
	margin: 33px auto 15px;
}

span.text-hid{
	display: none;
}


@media screen and (min-width: 768px){
	
	.fscreen{
		max-width: 725px;
		max-height: 408px;
		
	}
	
	.fscreen-vid{
		margin: 28px auto;
		
	}
}


