
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body{
	/* overflow: hidden; */
}

div.text-div{
	width: 85%;
	margin: 33px auto 15px;
}



.mejs__me .mejs__controls{
	background-color: red;
}

.mejs__me .mejs__time-float{
	display: block;
	background: none;
	width: 40%;
	height: 56px;
	border: none;
	top: -179px;
	margin-left: 0;
	left: 100px;
}

.mejs__me .mejs__time-float-current{
	margin: 0;
	
	height: 50%;
	
	
	font-size: 56px;
	line-height: 46px;
	color: rgba(255,255,255,0.5);

}

.mejs__me .mejs__time-float-corner{
	display: none;
}











@media screen and (min-width: 768px){
	
	.fscreen{
		max-width: 725px;
		max-height: 408px;
		
	}
	
	.fscreen-vid{
		margin: 28px auto;
		
	}
}


